<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shipping-orders">
      <ion-icon name="documents-outline"></ion-icon>
      <ion-label>My Shippings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="post">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Post</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="holding-orders">
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>My Carries</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
